In [16]:
import pandas as pd
#df = pd.read_csv(r"C:\Users\Nimrod\Downloads\pokemon_data.csv")
#df.head()
#df_xlsx = pd.read_excel(r"C:\Users\Nimrod\Downloads\pokemon_data.xlsx")
#df_xlsx.head(3)
df = pd.read_csv(r"C:\Users\Nimrod\Downloads\pokemon_data.txt", delimiter = '\t')
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [35]:
## read headers
#df.columns
## read each column
#df[['Name','Type 1','HP']]
#df.Name
## read each row
#df.iloc[1:4]
## read a specific location
#df.iloc[2,1]
#for index, row in df.iterrows():
#    print(index,row)
df.loc[df['Type 1'] =='Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [36]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [45]:
df.sort_values(['Type 1','HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [46]:
#Making changes to the data
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [91]:
#df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
#df.head(5)
#df = df.drop(columns=['Total'])
df['Total'] = df.iloc[:,4:10].sum(axis=1)
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)
#df[['Total']+['HP']+['Defense']]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [97]:
# Saving our data
#df.to_csv('modified.csv', index=False)
#df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

In [125]:
#filtering data
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df.head()
#new_df.to_csv('filtered.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [126]:
#new_df = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [164]:
#df.loc[df['Name'].str.contains('Mega')]
import re
#df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
#df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]
#df.loc[df['Type 1']=='Flamer', 'Type 1'] = 'Fire'
pd.set_option('display.max_rows', 800)
#df.loc[df['Type 1']=='Fire', 'Legendary'] = True
df = pd.read_csv('modified.csv')
#df

In [172]:
#df.loc[df['Total']>500, ['Generation', 'Legendary']] = [['Test 1','Test 2']]
df = pd.read_csv('modified.csv')
#df

In [190]:
#Aggregate statistics
df = pd.read_csv('modified.csv')

#df.groupby(['Type 1']).mean().sort_values('HP', ascending = False)
#df.groupby(['Type 1']).sum()
df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1    Type 2
Bug       Electric     2
          Fighting     2
          Fire         2
          Flying      14
          Ghost        1
          Grass        6
          Ground       2
          Poison      12
          Rock         3
          Steel        7
          Water        1
Dark      Dragon       3
          Fighting     2
          Fire         3
          Flying       5
          Ghost        2
          Ice          2
          Psychic      2
          Steel        2
Dragon    Electric     1
          Fairy        1
          Fire         1
          Flying       6
          Ground       5
          Ice          3
          Psychic      4
Electric  Dragon       1
          Fairy        1
          Fire         1
          Flying       5
          Ghost        1
          Grass        1
          Ice          1
          Normal       2
          Steel        3
          Water        1
Fairy     Flying       2
Fighting  Dark         1
          Flying       1
          Psychic      3
          Steel        2
Fire      Dragon       1
          Fighting     7
          Flying       6
          Ground       3
          Normal       2
          Psychic      2
          Rock         1
          Steel        1
          Water        1
Flying    Dragon       2
Ghost     Dark         1
          Dragon       2
          Fire         3
          Flying       2
          Grass       10
          Poison       4
Grass     Dark         3
          Dragon       1
          Fairy        2
          Fighting     3
          Flying       5
          Ground       1
          Ice          3
          Poison      15
          Psychic      2
          Steel        2
Ground    Dark         3
          Dragon       2
          Electric     1
          Fire         1
          Flying       4
          Ghost        2
          Psychic      2
          Rock         3
          Steel        1
Ice       Flying       2
          Ghost        1
          Ground       3
          Psychic      2
          Water        3
Normal    Fairy        5
          Fighting     2
          Flying      24
          Grass        2
          Ground       1
          Psychic      2
          Water        1
Poison    Bug          1
          Dark         3
          Dragon       1
          Fighting     2
          Flying       3
          Ground       2
          Water        1
Psychic   Dark         1
          Fairy        6
          Fighting     3
          Fire         1
          Flying       6
          Ghost        1
          Grass        1
Rock      Bug          2
          Dark         2
          Dragon       2
          Fairy        3
          Fighting     1
          Flying       4
          Grass        2
          Ground       6
          Ice          2
          Psychic      2
          Steel        3
          Water        6
Steel     Dragon       1
          Fairy        3
          Fighting     1
          Flying       1
          Ghost        4
          Ground       2
          Psychic      7
          Rock         3
Water     Dark         6
          Dragon       2
          Electric     2
          Fairy        2
          Fighting     3
          Flying       7
          Ghost        2
          Grass        3
          Ground      10
          Ice          3
          Poison       3
          Psychic      5
          Rock         4
          Steel        1
Name: count, dtype: int64

In [211]:
# working with large amounts of data
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv('modified.csv', chunksize = 5):
    df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])